# ANL488 Project - Session-based Recommendation Systems

### Data Understanding

In [1]:
"""
The purpose of this file to do a data understanding of the coveo dataset and to do some data preparation
"""

'\nThe purpose of this file to do a data understanding of the coveo dataset and to do some data preparation\n'

In [2]:
#import libraries 

import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
import sys
from tqdm import tqdm

In [ ]:
#sys.path

### Browsing Train

In [ ]:
sys.path.append('C:/Users/Lokesh/Desktop/Submission/0. Datasets/')

In [4]:
browsing_train = pd.read_csv('C:/Users/Lokesh/Desktop/Submission/0. Datasets/browsing_train.csv')

In [5]:
browsing_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36079307 entries, 0 to 36079306
Data columns (total 6 columns):
 #   Column                     Dtype
---  ------                     -----
 0   session_id_hash            object
 1   event_type                 object
 2   product_action             object
 3   product_sku_hash           object
 4   server_timestamp_epoch_ms  int64
 5   hashed_url                 object
dtypes: int64(1), object(5)
memory usage: 1.6+ GB

In [6]:
print(browsing_train.dtypes)
print("-----------------------")
print(browsing_train.nunique())
print("-----------------------")
print(browsing_train.isnull().sum())
print("-----------------------")

session_id_hash              object
event_type                   object
product_action               object
product_sku_hash             object
server_timestamp_epoch_ms     int64
hashed_url                   object
dtype: object
-----------------------
session_id_hash               4934699
event_type                          2
product_action                      4
product_sku_hash                57483
server_timestamp_epoch_ms    26219566
hashed_url                     489300
dtype: int64
-----------------------
session_id_hash                     0
event_type                          0
product_action               25647696
product_sku_hash             25647696
server_timestamp_epoch_ms           0
hashed_url                          0
dtype: int64
-----------------------

In [8]:
browsing_train

,session_id_hash,event_type,product_action,product_sku_hash,server_timestamp_epoch_ms,hashed_url
0,20c458b802f6ea9374783bfc528b19421be977a6769785...,event_product,detail,d5157f8bc52965390fa21ad5842a8502bc3eb8b0930f3f...,1550885210881,7e4527ac6a32deed4f4f06bb7c49b907b7ca371e59d57d...
1,20c458b802f6ea9374783bfc528b19421be977a6769785...,event_product,detail,61ef3869355b78e11011f39fc7ac8f8dfb209b3442a9d5...,1550885213307,4ed279f4f0deab6dfc80f4f7bf49d527fd894fa478a9ce...
2,20c458b802f6ea9374783bfc528b19421be977a6769785...,pageview,NaN,NaN,1550885213307,4ed279f4f0deab6dfc80f4f7bf49d527fd894fa478a9ce...
3,20c458b802f6ea9374783bfc528b19421be977a6769785...,event_product,detail,d5157f8bc52965390fa21ad5842a8502bc3eb8b0930f3f...,1550885215484,7e4527ac6a32deed4f4f06bb7c49b907b7ca371e59d57d...
4,20c458b802f6ea9374783bfc528b19421be977a6769785...,pageview,NaN,NaN,1550885215484,7e4527ac6a32deed4f4f06bb7c49b907b7ca371e59d57d...
...,...,...,...,...,...,...
36079302,0676f342dc490b0f8bd9c22d16e4c67f8f7af1f85679f1...,pageview,NaN,NaN,1552162324909,38f5bd3c9a1cc5b39e6b965f1aa6c565737f58e19a560a...
36079303,0676f342dc490b0f8bd9c22d16e4c67f8f7af1f85679f1...,pageview,NaN,NaN,1552162336608,38f5bd3c9a1cc5b39e6b965f1aa6c565737f58e19a560a...
36079304,0676f342dc490b0f8bd9c22d16e4c67f8f7af1f85679f1...,pageview,NaN,NaN,1552162343684,38f5bd3c9a1cc5b39e6b965f1aa6c565737f58e19a560a...
36079305,0676f342dc490b0f8bd9c22d16e4c67f8f7af1f85679f1...,pageview,NaN,NaN,1552162356368,433b0e71df1fe9a8d1f45647545701f6108414c40eef76...
36079306,0676f342dc490b0f8bd9c22d16e4c67f8f7af1f85679f1...,pageview,NaN,NaN,1552162390080,fb12a2500433a3ef2f92eae62941ce6b2db8616ce6c992...

In [ ]:
browsing_train.columns

In [9]:
print("Event types: ")
print(browsing_train['event_type'].value_counts())
print("-----------------------------------------")
print("product_actions: ")
print(browsing_train['product_action'].value_counts())

Event types:
pageview         25647696
event_product    10431611
Name: event_type, dtype: int64
-----------------------------------------
product_actions:
detail      9707890
add          329557
remove       316316
purchase      77848
Name: product_action, dtype: int64

In [ ]:
"""
separate the event_product from the pageview and export the product only data. 
"""

In [ ]:
#product_df = browsing_train[browsing_train['event_type'] == 'event_product']
#product_df

In [ ]:
#product_df = product_df.reset_index(drop=True)
#product_df

In [ ]:
#product_df.to_csv('New_browsing_events(product only).csv', index=False)

### Search train

In [10]:
search_train = pd.read_csv('C:/Users/Lokesh/Desktop/Submission/0. Datasets/search_train.csv')

In [11]:
search_train.head()

,session_id_hash,query_vector,clicked_skus_hash,product_skus_hash,server_timestamp_epoch_ms
0,48fade624d47870058ce07dd789ccc04e46c70c0fa2a1b...,"[-0.20255649089813232, -0.016908567398786545, ...",NaN,NaN,1548575194779
1,8731ca84ff7bb8cb647531d54e64feedb2519b4a7792a7...,"[-0.007610442116856575, -0.14909175038337708, ...",NaN,['9ee9ffd7e2529a65f9a0b0c9eaae6330df85cf2e3af3...,1548276763869
2,9be980708345944960645d03606ea83b637cae9106b705...,"[-0.20023074746131897, -0.03151938319206238, 0...",NaN,['7cc72dbed53bab78ec6a62feaa5052a7a1db7d201664...,1548937997295
3,9be980708345944960645d03606ea83b637cae9106b705...,"[-0.18556387722492218, -0.07620412111282349, 0...",NaN,['62c4ddab6c1c81c74d315376b3c0dc7768c0286b3dc6...,1548938038268
4,9be980708345944960645d03606ea83b637cae9106b705...,"[-0.03269264101982117, -0.27234694361686707, 0...",NaN,['2a0ee2924feabeec35e21e8fcb4d5b0684d190e46cef...,1548938093827

In [13]:
search_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 819516 entries, 0 to 819515
Data columns (total 5 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   session_id_hash            819516 non-null  object
 1   query_vector               819516 non-null  object
 2   clicked_skus_hash          179495 non-null  object
 3   product_skus_hash          602754 non-null  object
 4   server_timestamp_epoch_ms  819516 non-null  int64
dtypes: int64(1), object(4)
memory usage: 31.3+ MB

In [14]:
print(search_train.dtypes)
print("-----------------------")
print(search_train.nunique())
print("-----------------------")
print(search_train.isnull().sum())
print("-----------------------")

session_id_hash              object
query_vector                 object
clicked_skus_hash            object
product_skus_hash            object
server_timestamp_epoch_ms     int64
dtype: object
-----------------------
session_id_hash              550100
query_vector                 187049
clicked_skus_hash             73311
product_skus_hash            189796
server_timestamp_epoch_ms    819136
dtype: int64
-----------------------
session_id_hash                   0
query_vector                      0
clicked_skus_hash            640021
product_skus_hash            216762
server_timestamp_epoch_ms         0
dtype: int64
-----------------------

In [15]:
search_train

,session_id_hash,query_vector,clicked_skus_hash,product_skus_hash,server_timestamp_epoch_ms
0,48fade624d47870058ce07dd789ccc04e46c70c0fa2a1b...,"[-0.20255649089813232, -0.016908567398786545, ...",NaN,NaN,1548575194779
1,8731ca84ff7bb8cb647531d54e64feedb2519b4a7792a7...,"[-0.007610442116856575, -0.14909175038337708, ...",NaN,['9ee9ffd7e2529a65f9a0b0c9eaae6330df85cf2e3af3...,1548276763869
2,9be980708345944960645d03606ea83b637cae9106b705...,"[-0.20023074746131897, -0.03151938319206238, 0...",NaN,['7cc72dbed53bab78ec6a62feaa5052a7a1db7d201664...,1548937997295
3,9be980708345944960645d03606ea83b637cae9106b705...,"[-0.18556387722492218, -0.07620412111282349, 0...",NaN,['62c4ddab6c1c81c74d315376b3c0dc7768c0286b3dc6...,1548938038268
4,9be980708345944960645d03606ea83b637cae9106b705...,"[-0.03269264101982117, -0.27234694361686707, 0...",NaN,['2a0ee2924feabeec35e21e8fcb4d5b0684d190e46cef...,1548938093827
...,...,...,...,...,...
819511,9b037012702a2dadee910c6b71b691b6ba072b22f41b7b...,"[-0.04411918669939041, -0.15845978260040283, -...",['f023b48bf46355aa4844b8c9bd51e478a22f17b9be83...,['12db169815cb93aaeeb1d427d6c0eea62ba4961e43c4...,1548987598321
819512,9b037012702a2dadee910c6b71b691b6ba072b22f41b7b...,"[-0.033466748893260956, 0.06939797103404999, -...",['1379461daf84128449e010af5f2a0d37837bac53c854...,['956c335d2f59c1853f499420ae4e85250a6c7190a1df...,1548987688646
819513,fdf03b124f6cb368c42a9408bc1186e4ea1465cacd5855...,"[-0.04076826199889183, -0.3194904327392578, 0....",NaN,NaN,1548554188376
819514,fdf03b124f6cb368c42a9408bc1186e4ea1465cacd5855...,"[0.0175111535936594, -0.2686958312988281, 0.07...",NaN,['32ead81a7b89168dc472d162a3d7654db02d99bb88b3...,1548554908239
819515,fdf03b124f6cb368c42a9408bc1186e4ea1465cacd5855...,"[0.007162265479564667, -0.24418511986732483, 0...",NaN,['05ad56d73cded3e417965b566d3291dc70e8fe3070ec...,1548555018635

In [ ]:
#search_train.dropna(subset=['clicked_skus_hash', 'product_skus_hash'], inplace=True)

In [ ]:
search_train.info()

In [ ]:
#search_train.to_csv('New_search_events.csv', index=False)

### Product sku to content

In [16]:
sku_train = pd.read_csv('C:/Users/Lokesh/Desktop/Submission/0. Datasets/sku_to_content.csv')

In [17]:
sku_train.head()

,product_sku_hash,description_vector,category_hash,image_vector,price_bucket
0,26ce7b47f4c46e4087e83e54d2f7ddc7ea57862fed2e2a...,NaN,NaN,NaN,NaN
1,6383992be772b204a9ab75f86c86f5583d1bdd1222952d...,NaN,NaN,NaN,NaN
2,a2c3e2430c6ef9770b903ad08fa067a6b2b9db28f06e1b...,"[0.27629122138023376, -0.15763211250305176, 0....",06fa312761d4b39e2f649781514ac69a4c1505c221fc46...,"[340.3592564184389, -220.19025864725685, 154.0...",7.0
3,1028ef615e425c328e7b95010dfb1fb93cf63749a1bc80...,"[0.4058118760585785, -0.03595402091741562, 0.2...",115a6a7017ee55752b8487c77dfde92b0d501d10a2e69c...,"[180.3463662921092, 222.702322343354, -8.88703...",8.0
4,9870c682d0d52d635501249da0eeaa118fad430b695ea1...,"[-0.3206155300140381, 0.01991105079650879, 0.0...",0665a81d19c89281cc00e7f7d779ded2ed42c933838602...,"[-114.81079301576219, 84.55770104232334, 85.51...",2.0

In [ ]:
sku_train.columns

In [18]:
sku_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66386 entries, 0 to 66385
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   product_sku_hash    66386 non-null  object
 1   description_vector  31950 non-null  object
 2   category_hash       32052 non-null  object
 3   image_vector        28370 non-null  object
 4   price_bucket        32038 non-null  float64
dtypes: float64(1), object(4)
memory usage: 2.5+ MB

In [19]:
print(sku_train.dtypes)
print('-----------------')
print(sku_train.nunique())
print("-----------------------")
print(sku_train.isnull().sum())
print("-----------------------")

product_sku_hash       object
description_vector     object
category_hash          object
image_vector           object
price_bucket          float64
dtype: object
-----------------
product_sku_hash      66386
description_vector    24536
category_hash           174
image_vector          27916
price_bucket             10
dtype: int64
-----------------------
product_sku_hash          0
description_vector    34436
category_hash         34334
image_vector          38016
price_bucket          34348
dtype: int64
-----------------------

In [20]:
sku_train

,product_sku_hash,description_vector,category_hash,image_vector,price_bucket
0,26ce7b47f4c46e4087e83e54d2f7ddc7ea57862fed2e2a...,NaN,NaN,NaN,NaN
1,6383992be772b204a9ab75f86c86f5583d1bdd1222952d...,NaN,NaN,NaN,NaN
2,a2c3e2430c6ef9770b903ad08fa067a6b2b9db28f06e1b...,"[0.27629122138023376, -0.15763211250305176, 0....",06fa312761d4b39e2f649781514ac69a4c1505c221fc46...,"[340.3592564184389, -220.19025864725685, 154.0...",7.0
3,1028ef615e425c328e7b95010dfb1fb93cf63749a1bc80...,"[0.4058118760585785, -0.03595402091741562, 0.2...",115a6a7017ee55752b8487c77dfde92b0d501d10a2e69c...,"[180.3463662921092, 222.702322343354, -8.88703...",8.0
4,9870c682d0d52d635501249da0eeaa118fad430b695ea1...,"[-0.3206155300140381, 0.01991105079650879, 0.0...",0665a81d19c89281cc00e7f7d779ded2ed42c933838602...,"[-114.81079301576219, 84.55770104232334, 85.51...",2.0
...,...,...,...,...,...
66381,c7cc673ca3baa5fa222fffdc16379892b3a62583a48143...,NaN,NaN,NaN,NaN
66382,6641c7d2053ce48ce1e81a9653dffe56dbb79ab0704fbd...,"[-0.19150441884994507, -0.06235162168741226, -...",0665a81d19c89281cc00e7f7d779ded2ed42c933838602...,"[129.55668732976045, 43.27996741934932, -36.70...",3.0
66383,526a6a51717d5bb40ef2b0c47394d08c54385375633bab...,"[-0.19760936498641968, 0.4446450471878052, -0....",0665a81d19c89281cc00e7f7d779ded2ed42c933838602...,"[-158.25984189321855, 74.19255741438077, 199.6...",5.0
66384,21ca4ab0e2fbd3b401fbeadeb4439dcab9998fb52159ec...,NaN,NaN,NaN,NaN
66385,0eaa39fb645749da181c0637d3b420f3f103b5f6b50286...,NaN,NaN,NaN,NaN

In [ ]:
sku_df.columns

In [ ]:
sku_df.info()

# Data Sampling

In [ ]:
product_df = pd.read_csv('C:/Users/Lokesh/Desktop/Submission/0. Datasets/New_browsing_events(product only).csv')

In [ ]:
product_df.head()

In [ ]:
product_df['product_action'].value_counts()

In [ ]:
sample_df = product_df

In [ ]:
sample_df.info()

In [ ]:
# check the number of unique customers 
sessions_list = sample_df["session_id_hash"].unique().tolist()
len(sessions_list)

In [ ]:
sample_df['session_id_hash'].nunique()

In [ ]:
import random

In [ ]:
#get a random sample of the dataset 
# 30% of the original maybe 

sample1 = random.sample(sessions_list, round(0.3*len(sessions_list)))

In [ ]:
len(sample1)

In [ ]:
# Get 
sample_train_df = sample_df[sample_df['session_id_hash'].isin(sample1)]

In [ ]:
sample_train_df.head()

In [ ]:
sample_train_df = sample_train_df.reset_index(drop=True)

In [ ]:
sample_train_df.head()

In [ ]:
sample_train_df.info()

In [ ]:
sample_train_df['session_id_hash'].nunique()

In [ ]:
print(round(0.3*len(sessions_list)))

In [ ]:
sample_train_df.info()

In [ ]:
sample_train_df.to_csv('Sample_browsing_train.csv', index=False)