# ANL488 Project - Session-based Recommendation Systems

### Data sampling

In [1]:
"""
Data sampling is part of data preparation. Since, our data is quite big. A sample data might proof useful or faster 
in many cases. We can use it before the actual data thus it is important. 

"""

'\nData sampling is part of data preparation. Since, our data is quite big. A sample data might proof useful or faster \nin many cases. We can use it before the actual data thus it is important. \n\n'

In [3]:
#import libraries 

import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
import time 
import sys
from tqdm import tqdm

In [5]:
#start samling

In [6]:
# df to bring data 

main_df = pd.read_csv('New_browsing(product only).csv')

In [7]:
main_df

,SessionId,product_action,product_sku_hash,server_timestamp_epoch_ms,time
0,0,detail,cf2f88cb43c1713538f7dfd2aa498a2cb9ebc0c99feeac...,1552423391039,2019-03-12 20:43:11
1,0,add,cf2f88cb43c1713538f7dfd2aa498a2cb9ebc0c99feeac...,1552424389158,2019-03-12 20:59:49
2,0,detail,4945f2fa8e87cb7501702ed3dce26253296eae7a8f670f...,1552426684381,2019-03-12 21:38:04
3,0,detail,6ff8d0f30bbe66cfec7d87fc7e22bd8b1defd47ff4aaaa...,1552426755233,2019-03-12 21:39:15
4,0,detail,cf2f88cb43c1713538f7dfd2aa498a2cb9ebc0c99feeac...,1552426869735,2019-03-12 21:41:09
...,...,...,...,...,...
10431606,3280583,detail,a532a9b9d11dcb3358677f9ff2d41d95f015331acbd632...,1550718210565,2019-02-21 03:03:30
10431607,3280583,detail,3011fe75d8739f217851a68d4c7ab40cce7dd5031f9080...,1550718249795,2019-02-21 03:04:09
10431608,3280583,detail,ea950a72ea131ef7181c7dd03f1ed77396648060c1e9cd...,1550718557956,2019-02-21 03:09:17
10431609,3280583,detail,bed8a2b601108932cbd8b3b14cde1d4919262c60b35cad...,1550718613724,2019-02-21 03:10:13
10431610,3280583,detail,2b1dd7624847cfe832fb6aaba59834f34008ed2820bca3...,1550718642814,2019-02-21 03:10:42

In [8]:
sample_df = main_df

In [10]:
# check the number of unique sessions 
sessions_list = sample_df["SessionId"].unique().tolist()
len(sessions_list)

3280584

In [11]:
main_df.nunique()

SessionId                     3280584
product_action                      4
product_sku_hash                57483
server_timestamp_epoch_ms    10397354
time                          4725977
dtype: int64

In [12]:
import random

In [13]:
#get a random sample of the dataset 
# 50% of the original maybe 

sample1 = random.sample(sessions_list, round(0.5*len(sessions_list)))

In [14]:
len(sample1)

1640292

In [16]:
# Get 
sample_train_df = sample_df[sample_df['SessionId'].isin(sample1)]

In [17]:
sample_train_df = sample_train_df.reset_index(drop=True)

In [18]:
sample_train_df

,SessionId,product_action,product_sku_hash,server_timestamp_epoch_ms,time
0,1,detail,4d45479446a63680c0a03c1f4a31b9e9a6cba5a9dface8...,1550148170683,2019-02-14 12:42:50
1,1,detail,84ab2546942afe5b4c02f1b594e66251d0080da319e957...,1550148176362,2019-02-14 12:42:56
2,1,detail,f0999c89e453bad5ee6900df54d6c04ea04eedd7082adb...,1550148180394,2019-02-14 12:43:00
3,1,detail,c1b20251888221d47da74a5d8cdfb78be942eb51d35371...,1550148228570,2019-02-14 12:43:48
4,1,detail,e3281e3a9ec7ebb3c5483601abb856bc0ccf08dfd74da4...,1550148332921,2019-02-14 12:45:32
...,...,...,...,...,...
5215537,3280580,detail,45b304cd266d33857dc4387933feb38380f7cbd0dd2dc6...,1553984562456,2019-03-30 22:22:42
5215538,3280580,detail,a94a0a26b38fd8c7044be87fea51cf500b9fe61a0d3dea...,1553984613425,2019-03-30 22:23:33
5215539,3280580,detail,08657660c499dd08cc37b1a98d88d83b485c494990dd97...,1553984626977,2019-03-30 22:23:46
5215540,3280580,detail,3c4926b7c61b4d232dc010cd6ccbd280e63ebbf543ac72...,1553984784419,2019-03-30 22:26:24
5215541,3280580,detail,08657660c499dd08cc37b1a98d88d83b485c494990dd97...,1553985620630,2019-03-30 22:40:20

In [19]:
sample_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5215542 entries, 0 to 5215541
Data columns (total 5 columns):
 #   Column                     Dtype
---  ------                     -----
 0   SessionId                  int64
 1   product_action             object
 2   product_sku_hash           object
 3   server_timestamp_epoch_ms  int64
 4   time                       object
dtypes: int64(2), object(3)
memory usage: 199.0+ MB

In [22]:
print(round(0.5*len(sessions_list)))

1640292

In [21]:
sample_train_df.SessionId.nunique()

1640292

In [23]:
sample_train_df.to_csv('Sample_browsing(half).csv', index=False)